@font-face{
    font-family:'Nunito';
    font-display:swap;
    src:url('../fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight:600;
    font-style:normal
}

@font-face{
    font-family:'Nunito';
    font-display:swap;
    src:url('../fonts/Nunito-Light.ttf') format('truetype');
    font-weight:300;
    font-style:normal
}

@font-face{
    font-family:'Nunito';
    font-display:swap;
    src:url('../fonts/Nunito-Regular.ttf') format('truetype');
    font-weight:400;
    font-style:normal
}

body{font-family:'Nunito', sans-serif;
    font-weight:400}

textarea, input, button{font-family:'Nunito', sans-serif}

.ajax-loader{display:none;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:100000000;
    background:url("../img/ajax-loader.svg") no-repeat center / 5rem auto, rgba(255, 255, 255, .5)}


.btn{display:inline-flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    border:1px solid $primary;
    background:$primary;
    font-size:.8rem;
    padding:1rem 1.5rem;
    transition:.2s;
    color:#ffffff;
    border-radius:.2rem}

.btn svg{fill:#ffffff}

.btn:hover{background:$primaryDark}

.btn_trs{background:transparent;
    color:$primary}

.btn_trs:hover{background:$primaryLight}

.btn_red{background:transparent;
    color:$secondaryB;
    border-color:$secondaryB}

.btn_red svg{fill:$secondaryB}

.btn_red:hover{background:rgba(229, 83, 83, .2)}

.btn_small{padding:.5rem 1rem}

.btn_small_svg{padding:.2rem .5rem}
.btn_full_svg{padding:.8rem .5rem}

.btn_off{opacity:.7}

.btn_med{padding:.8rem 1rem}

.btn_full{
    width:100%;
    justify-content:center;
}

.mr5{margin-right:.25rem}
.mr10{margin-right:.5rem}
.mr15{margin-right:.75rem}

.mb3{margin-bottom:.15rem}
.mb5{margin-bottom:.25rem}
.mb10{margin-bottom:.5rem}
.mb15{margin-bottom:.75rem}
.mb16{margin-bottom:.8rem}
.mb20{margin-bottom:1rem}
.mb30{margin-bottom:1.5rem}
.mb40{margin-bottom:2rem}
.mb50{margin-bottom:2.5rem}
.mb60{margin-bottom:3rem}
.mb80{margin-bottom:4rem}
.mb100{margin-bottom:5rem}
.mt20{margin-top:1rem}
.pb10{padding-bottom:.5rem}
.pb20{padding-bottom:1rem}
.p17{padding:.85rem;}

.bb1{border-bottom:1px solid #e5e5e5}
.bb1:last-child{
    margin-bottom:0;
    border-bottom:0;
    padding-bottom:0;
}

.lh11{line-height:1.1}
.lh12{line-height:1.2}
.lh13{line-height:1.3}
.lh14{line-height:1.4}
.lh15{line-height:1.5}
.lh16{line-height:1.6}

.fw300{font-weight:300}
.fw400{font-weight:400}
.fw600{font-weight:600}

.fz12{font-size:.6rem}
.fz14{font-size:.7rem}
.fz16{font-size:.8rem}
.fz17{font-size:.85rem}
.fz18{font-size:.9rem}
.fz20{font-size:1rem}
.fz26{font-size:1.3rem}
.fz30{font-size:1.5rem}
.fz36{font-size:1.8rem}
.fz70{font-size:3.5rem}

.ttu{text-transform:uppercase}

.relative{position:relative}

.color-white{color:#fff}
.color-blue{color:$primary}
.color-red{color:$secondaryB}
.color-orange{color:$secondaryA}
.color-gray{color:rgba(0, 0, 0, 0.4)}
.color-dark{color:rgba(0, 0, 0, 0.9)}
.color-green{color:$success;}
.color-error{color:$error;}

.link,
.link span,
.link svg{transition:.2s}

.link{cursor:pointer}

.link-black{color:#000000}

.link-black:hover{color:$primary}

.link-blue,
.link-blue span{
    color:$primary;
}

.link-blue svg{fill:$primary}

.link-blue:hover,
.link-blue:hover span{color:#000000}

.link-blue:hover svg{fill:#000
}

.link-orange,
.link-orange span{color:$secondaryB}

.link-orange svg{fill:$secondaryB}

.link-orange:hover,
.link-orange:hover span{color:#000000}

.link-orange:hover svg{fill:#000}

.st-input1{
    position:relative;
    background:#ffffff;
    padding:0 1rem 0 1rem;
    border-radius:.2rem;
    border:1px solid #e5e5e5;
    transition:.2s
}
.st-input1_date{
    padding-right:0;
}

.st-input1_focused{border-color:$primary;
    box-shadow:0 0 0 1px $primary}

.st-input1__label{position:absolute;
    transition:.2s;
    font-size:.85rem;
    top:.95rem;
    z-index:0;
    left:1rem;
    color:rgba(0, 0, 0, 0.4);
}

.map__search-content .st-input1__input{padding:0.25rem 0 0.25rem 0}

.map__search-content .st-input1__label{top:0.45rem}

.st-input1_filled .st-input1__label{font-size:.6rem;
    top:-.35rem;
    left:.7rem;
    padding:0 .3rem;
    background:#fff;
    z-index:10}

.st-input1_filled.st-input1_readonly .st-input1__label{background:linear-gradient(to top, #e9ecef 40%, #fff 40%)}

.st-input1_focused .st-input1__label{opacity:1}

.st-input1__input,
.mx-input,
.vti__input{border:0;
    padding:0.85rem 0 0.65rem 0;
    font-size:.85rem;
    color:#000000;
    position:relative;
    z-index:1;
    font-weight:500;
    display:block;
    width:100%;
    background:transparent;
    border-radius:.2rem}

.mx-input{height:auto;
    cursor:pointer;
    border:0;
    box-shadow:none}

.mx-datepicker{width:100%}

.st-input1__input_phone::placeholder{color:#999}

.st-input1__input_phone::-webkit-input-placeholder{color:#999}

.st-input1__input_phone::-moz-placeholder{color:#999}

/* Firefox 19+ */
.st-input1__input_phone:-moz-placeholder{color:#999}

/* Firefox 18- */
.st-input1__input_phone:-ms-input-placeholder{color:#999}

textarea.st-input1__input{resize:none;
    height:5rem}

.st-input1_readonly{background:#e9ecef;
    cursor:not-allowed}

.st-input1_error{border-color:$error;
    box-shadow:0 0 0 1px $error;

}

.st-input1_success{border-color:#7ddc4e;
    box-shadow:0 0 0 1px #7ddc4e;
    background:url("../img/ico_success.svg") no-repeat right .3rem center / .6rem auto, #fff}

input:-webkit-autofill{-webkit-box-shadow:inset 0 0 0 50px #ffffff !important; /* Цвет фона автозаполнения */
}

.st-radio input{display:none}

.st-radio{font-size:.8rem;
    display:flex;
    align-items:center;
    cursor:pointer}

.st-radio__dot{border:1px solid $primary;
    border-radius:100%;
    width:.9rem;
    height:.9rem;
    position:relative;
    flex:none;
    margin-right:.3rem}

.st-radio__dot:before{content:'';
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width:.3rem;
    height:.3rem;
    border-radius:100%}

.st-radio input:checked + .st-radio__dot:before{background:$primary}

.st-checkbox input{display:none}

.st-checkbox{font-size:.8rem;
    display:flex;
    align-items:center;
    cursor:pointer}

.st-checkbox__dot{
    border:1px solid $primary;
    border-radius:.2rem;
    width:.9rem;
    height:.9rem;
    flex:none;
    margin-right:.3rem}

.st-checkbox input:checked + .st-checkbox__dot{
    background:url("../img/ico_check.svg") no-repeat center / .4rem .3rem, $primary
}

.st-checkbox input:checked[disabled] + .st-checkbox__dot{
    background:url("../img/ico_check.svg") no-repeat center / .4rem .3rem, $disabled;
    border:1px solid $disabled;
}

.checkbox-group__error,
.st-input1__error,
.form-item_select__error{font-size:.6rem;
    color:$error}

.form-item_select__error{margin-bottom:.1rem;
    z-index:2;
    margin-top:0.2rem;
    bottom:0;
    left:1rem;
    right:0;

}

.st-input1__error{margin-bottom:.1rem;
    z-index:2;
    margin-top:0.2rem;
    left:1rem;
    right:0;
    bottom:0}

.checkbox-group_error .st-checkbox__dot{border-color:$error}

.relative-frame{padding:.4rem;
    position:relative;
    border-radius:.2rem;
    border:1px solid #e5e5e5}

.relative-frame .label-abs{opacity:1}

.noUi-handle:before, .noUi-handle:after{display:none}

.noUi-horizontal .noUi-handle{width:.8rem;
    height:.8rem;
    top:-.4rem;
    right:-.4rem;
    border-radius:100%;
    border:1px solid #e5e5e5;
    box-shadow:none;
    transition:.2s}

.noUi-horizontal .noUi-handle:hover{border-color:#263238}

.noUi-horizontal{
    height:.1rem;
    box-shadow:none;
    background:#e5e5e5;
    border:0;
    margin:1rem 0.5rem 2rem
}

.noUi-connect{background:$primaryC}

.noUi-marker-horizontal.noUi-marker{width:1px}

.noUi-marker-horizontal.noUi-marker-large{height:9px}

.noUi-value{font-size:.7rem}

.noUi-value-horizontal{transform:translate(-50%, 80%)}

/*select*/
.multiselect__tags{
    cursor:pointer;
    min-height:2.65rem;
    background:transparent;
    padding:0.85rem 1rem 0.65rem 1rem;
    font-size:0.85rem;
}
.multiselect--active .multiselect__tags {
    border:1px solid $primary;
    box-shadow:0 0 0 1px $primary;
    border-bottom:0;
}
.multiselect--active.multiselect--above .multiselect__tags{
    border-top:0;
    border-bottom:1px solid $primary;
}
.multiselect__input, .multiselect__single{
    line-height:1;
    font-size:.85rem;
    min-height:0;
    margin:0;
    padding:0;
}
.multiselect__select{
    height:100%;
    padding:0;
    width:.5rem;
    top:0;
    bottom:0;
    right:.3rem;
    margin:auto;
}
.multiselect__element{
    overflow:hidden;
}
.multiselect__select:before{
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:0;
    margin:auto;
    height:0;
    position:absolute;
}
.multiselect, .multiselect__input, .multiselect__single{
    font-size:.85rem;
}
.form-item_select_error .multiselect__tags{
    border-color:$error;
    box-shadow:0 0 0 1px $error
}
.multiselect--active .multiselect__content-wrapper{
    border-color:$primary;
    box-shadow:0 0 0 1px $primary;
}
.multiselect__option--highlight{
    background:transparent;
}
.multiselect__option--highlight:after{
    background:$primary;
    min-height:0;
    position:absolute;
    top:0;
    bottom:0;
}
.multiselect__option--highlight svg{
    fill:#fff;
}
.multiselect__tag{
    font-size:.7rem;
}
.multiselect__svg svg{
    width:.8rem;
    height:.8rem;
}
.multiselect__option{
    padding:0;
    min-height:0;
}
.multiselect__option--highlight .multiselect__opt-inner{
    background:$primary;
}
.multiselect__option--highlight .multiselect__opt-inner_not-recommend{
    background:#ddd;
}
.multiselect__opt-inner{
    padding:.5rem;
    &_not-recommend{
        background:#ddd;
        &:hover{
            border-color:#ddd;
        }
    }
}
.multiselect__tags-wrap{
    display:inline-block;
}
.multiselect__tag{
    background:$primary;
}

.table td,
.table th{padding:.5rem .6rem .5rem 0;
    text-align:left}

.table td{border-top:1px solid #e5e5e5}

.copied-wrap{display:none;
    position:fixed;
    z-index:100000000000;
    transform:translateY(100%);
    left:0;
    top:0}

.copied{
    background:$primary;
    padding:.45rem .8rem;
    border-radius:.2rem;
    display:flex;
    align-items:center;
    margin-left:.4rem;
    position:relative;
    font-size:.6rem}

.copied__svg{margin-right:.4rem;
    width:1rem;
    height:1rem;
    border:2px solid #b5ffc4;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center}

.copied__span{color:#fff}

.copied__close{border-left:1px solid rgba(181, 255, 139, .2);
    margin-left:1.2rem;
    padding-left:.8rem;
    cursor:pointer;
    color:#fff}

.st-rating svg{fill:#FF7334}

.st-rating label{cursor:pointer}

.st-rating input{display:none}

.st-rating input:checked ~ label svg{fill:#999}

.text-bordered{
    text-shadow:0 3px 3px rgba(0, 0, 0, .4), 0 -3px 3px rgba(0, 0, 0, .4), 3px 0 3px rgba(0, 0, 0, .4), -3px 0 3px rgba(0, 0, 0, .4);
}
.table{
    width:100%;
}
.ico-online{
    width:5px;
    height:5px;
    border-radius:100%;
    display:inline-block;
    margin-bottom:.5rem;
    background:$success;
}
.warning-notification{
    position:fixed;
    z-index:1000;
    right:2rem;
    bottom:0;
    border-radius:.3rem .3rem 0 0;
    padding:.2rem .7rem;
    background:$error;
    color:#ffffff;
    max-width:25rem;
}
