$primary: #00A90D;
$primaryDark: #26972D;
$primaryLight:rgba(103, 228, 111, .25);
$primaryB:rgba(0, 201, 13, .5);
$primaryC:rgba(0, 201, 13, .25);
$secondaryA: #FFA340;
$secondaryB: #FF8500;
$error: #e55353;
$success:#42b400;
$disabled: #aaa;

//@import 'reset.css';
//@import '1140_flex.css';
//@import '~sweetalert2/src/sweetalert2';
//@import '~formstone/dist/css/tooltip.css';
//@import '~formstone/dist/css/themes/light/dropdown.css';
//@import '~formstone/dist/css/themes/light/tooltip.css';
//@import '~nouislider/distribute/nouislider.css';
//@import '~leaflet/dist/leaflet.css';
//@import '~leaflet.locatecontrol/dist/L.Control.Locate.min.css';
//@import '~@fancyapps/fancybox/dist/jquery.fancybox.min.css';
//@import '~vue-tel-input/dist/vue-tel-input.css';
//@import '~chosen-js/chosen.css';
//@import '~vue-multiselect/dist/vue-multiselect.min.css';
//@import '~vue2-datepicker/index.css';
//@import 'layout.scss';
//@import '~jquery-datetimepicker/build/jquery.datetimepicker.min.css';
//@import 'all.scss';
//@import 'media.scss';
