@media (min-width:1921px){
    .hp-b01 {
        background: url("/images/hp/hp_b01_3800.webp") no-repeat center/cover;
    }
}
@media (max-width:1200px){
    html{
        font-size:1.67vw;
    }
}
@media (max-width:768px){
    html{
        font-size:3.2vw;
    }
    .menu-burger{
        cursor:pointer;
        display:flex;
    }
    .menu-burger svg{
        fill:#555;
        width:1.5rem;
        height:1.2rem;
    }
    .menu-wrap{
        position:fixed;
        background:#fff;
        padding:2rem;
        top:0;
        right:0;
        bottom:0;
        z-index:100;
        overflow:auto;
        transform:translateX(101%);
        transition:.2s;
        display:flex;
        flex-direction:column;
    }
    .menu-wrap_opened{
        box-shadow:0 0 10px 0 rgba(0, 0, 0, .4);
        transform:translateX(0);
    }
    .menu-close,
    .catalog__filter-close{
        display:block;
        position:absolute;
        right:.5rem;
        top:.5rem;
        cursor:pointer;
        width:1rem;
        height:1rem;
    }
    .menu-close svg,
    .catalog__filter-close svg{
        display:block;
        fill:#333;
        width:100%;
        height:100%;
    }
    .header__ul{
        display:block;
    }
    .header__ul a{
        display:block;
        padding:.5rem 0;

        &.top-messages{
            width:1rem;
            height:1rem;
            padding:0;
            margin-top:1rem;
        }
    }
    .header__ul li + li{
        margin-left:0;
    }
    .hp-b01 {
        background: url("/images/hp/hp_b01_768.webp") no-repeat center/cover;
    }
    .body-shadow{
        position:fixed;
        right:0;
        top:0;
        bottom:0;
        width:0;
        background:rgba(0, 0, 0, .4);
        transition:.2s;
        z-index:1;

    }
    .body-shadow_opened{
        width:100%;
    }
    .header__col1{
        flex:1;
    }
    .header__col2{
        flex:0;
        order:3;
    }
    .header__col3{
        order:2;
        margin-right:1rem;
    }
    .header_home .link-black{
        color:#000000;
    }
    .header_home .menu-burger svg{
        fill:#fff;
    }
    .header_home .header__col3 .link-black{
        color:#ffffff;
    }
    .header__logo{
        width:4.5rem;
    }
    .footer__col1{
        order:3;
    }
    .catalog__filter{
        padding:0;
        position:fixed;
        right:0;
        top:0;
        bottom:0;
        transform:translateX(100%);
        z-index:20;
        background:#fff;
        transition:.2s;
        max-width:15rem;
        overflow:auto;
    }
    .catalog__filter_opened{
        transform:translateX(0);
    }
    .catalog__filter-button{
        display:flex;
        align-items:center;
        justify-content:center;
        padding:.4rem 1rem;
    }
    .catalog__filter-button svg{
        width:1rem;
        height:1rem;
    }
    .catalog__filter-button_account svg{
        width:.8rem;
        height:.8rem;
        margin-bottom:.1rem;
    }
    .catalog__filter-shadow{
        position:fixed;
        right:0;
        top:0;
        bottom:0;
        width:0;
        background:rgba(0, 0, 0, 0.4);
        transition:0.2s;
        z-index:10;
    }
    .filter__wrap{
        border:0;
    }
    .catalog__filter-shadow_opened{
        width:100%;
    }
    .travel-list__map{
        height:300px;
        min-height:300px;
    }
    .left-menu-wrap{
        border:0;
    }
    .chosen-container-multi .chosen-choices li.search-field{
        display:none;
    }
}
@media (max-width:550px){
    html{
        font-size:5vw;
    }
    .hp-b01 {
        background: url("/images/hp/hp_b01_550.webp") no-repeat center/cover;
    }
    .fz70{
        font-size:2.2rem;
    }
    .header{
        padding:.4rem 0;
    }
    .header__logo{
        width:3.5rem;
    }
    .menu-burger svg{
        fill:#555;
        width:1.5rem;
        height:1.2rem;
    }
    .fz36{
        font-size:1.5rem;
    }
    .btn{
        padding-left:.3rem;
        padding-right:.3rem;
        width:100%;
    }
    .map__btn{
        width:auto;
    }
    .trvl1__checkbox .fz17{
        font-size:0.75rem;
    }
    .catalog__filter{
        width:90%;
        max-width:90%;
    }
    .leaflet-popup{
        max-width:290px;
    }
    .filter__wrap{
        padding:2rem 1rem 1rem;
    }
    .chosen-container-multi .chosen-choices{
        padding:.4rem .7rem;
    }
    .participant-block .btn{
        width:auto;
    }
    .multiselect__tag{
        font-size:.85rem;
    }
    .multiselect input{
        opacity:0;
    }
    .multiselect__option--selected.multiselect__option--highlight:after,
    .multiselect__option--highlight:after{
        display:none;
    }
    .map__search-content_visible{
        width:10rem;
    }
    .multiselect__select{
        width:1.5rem;
    }
}
